        .body {
            background-color: #ffffff;
        }
        .ggg .settings {
            filter: invert(1);
        }
        .dark-mode {
            background-color: #000000;
            color: #ffffff;
        }
        .no-animation {
            animation: none !important;
            transition: none !important;
        } 
        .header {
            background: #999999;
            border-radius: 25px;
            width: auto;
            height: 60px;
            padding: 5px;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnn 5s;
        }
        @keyframes trannnn {
            0% {
                transform: translateY(-100%);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        .web-name {
            width: 325px;
            height: 30px;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
            position: fixed;
            margin-top: 12.5px;
            left: 30px;
            position: center;
            transition: transform 0.1s;
        }
        .web-name:hover {
            transform: scale(1.1);
        }
        .settings {
            background-attachment: fixed;
            width: 50px;
            height: 50px;
            float: right;
            padding: 5px;
            margin-right: 15px;
            transition: transform 0.5s;
        }
        .settings:hover {
            transform: scale(1.1);
        }
        .setting {
            background-color: #888888;
            width: 500px;
            height: 500px;
            display: none;
            border-radius: 25px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0px 0px 10px 0px #666666;
            z-index: 1000;
            animation: trannnnnnnnnn 2.5s;
        }
        .settinghead {
            background-color: #999999;
            width: 500px;
            height: 50px;
            position: fixed;
            border-radius: 25px;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .h1 {
            text-align: center;
            margin-top: 5px;
            position: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
        }
        .h2 {
            width: 50px;
            height: 50px;
            float: right;
            margin-top: -59px;
            align-items: center;
            text-align: center;
            font-size: 40px;
            color: #ff0000;
            font-family: 'Franklin Gothic Medium';
            background-color: #999999;
            border-radius: 25px;
        }
        .toggle {
            background-color: #999999;
            width: 400px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 0px 10px 0px #666666;
            position: fixed;
            top: 15%;
            left: 10%;
            animation: trannnnnnnnnn 2.5s;
        }
        .settingoption {
            background-color: #777777;
            width: 75px;
            height: 25px;
            border-radius: 15px;
            position: fixed;
            top: 17.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .h11 {
            text-align: left;
            margin-top: 5px;
            margin-left: 15px;
            position: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
        }
        .togglee {
            background-color: #555555;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            position: fixed;
            top: 17.5%;
            left: 80%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .toggle2 {
            background-color: #999999;
            width: 400px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 0px 5px 0px #666666;
            position: fixed;
            top: 26%;
            left: 10%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .settingoption2 {
            background-color: #777777;
            width: 75px;
            height: 25px;
            border-radius: 15px;
            position: fixed;
            top: 28.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .h12 {
            text-align: left;
            margin-top: 5px;
            margin-left: 15px;
            position: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
        }
        .toggleee {
            background-color: #555555;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            position: fixed;
            top: 28.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .toggle3 {
            background-color: #999999;
            width: 400px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 0px 5px 0px #666666;
            position: fixed;
            top: 37%;
            left: 10%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .settingoption3 {
            background-color: #777777;
            width: 75px;
            height: 25px;
            border-radius: 15px;
            position: fixed;
            top: 39.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .h13 {
            text-align: left;
            margin-top: 5px;
            margin-left: 15px;
            position: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
        }
        .toggleeee {
            background-color: #555555;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            position: fixed;
            top: 39.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .toggle4 {
            background-color: #999999;
            width: 400px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 0px 5px 0px #666666;
            position: fixed;
            top: 48%;
            left: 10%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .settingoption4 {
            background-color: #777777;
            width: 75px;
            height: 25px;
            border-radius: 15px;
            position: fixed;
            top: 50.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .h14 {
            text-align: left;
            margin-top: 5px;
            margin-left: 15px;
            position: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
        }
        .toggleeeee {
            background-color: #555555;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            position: fixed;
            top: 50.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .toggle5 {
            background-color: #999999;
            width: 400px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 0px 5px 0px #666666;
            position: fixed;
            top: 59%;
            left: 10%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .settingoption5 {
            background-color: #777777;
            width: 75px;
            height: 25px;
            border-radius: 15px;
            position: fixed;
            top: 61.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .h15 {
            text-align: left;
            margin-top: 5px;
            margin-left: 15px;
            position: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
        }
        .toggleeeeee {
            background-color: #555555;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            position: fixed;
            top: 61.5%;
            left: 80%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .toggle6 {
            background-color: #999999;
            width: 400px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 0px 5px 0px #666666;
            position: fixed;
            top: 70%;
            left: 10%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .settingoption6 {
            background-color: #777777;
            width: 75px;
            height: 25px;
            border-radius: 15px;
            position: fixed;
            top: 72.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .h16 {
            text-align: left;
            margin-top: 5px;
            margin-left: 15px;
            position: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
        }
        .toggleeeeeee {
            background-color: #555555;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            position: fixed;
            top: 72.5%;
            left: 80%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .toggle7 {
            background-color: #999999;
            width: 400px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 0px 5px 0px #666666;
            position: fixed;
            top: 81%;
            left: 10%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .settingoption7 {
            background-color: #777777;
            width: 75px;
            height: 25px;
            border-radius: 15px;
            position: fixed;
            top: 83.5%;
            left: 70%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .h17 {
            text-align: left;
            margin-top: 5px;
            margin-left: 15px;
            position: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 30px;
        }
        .toggleeeeeeee {
            background-color: #555555;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            position: fixed;
            top: 83.5%;
            left: 80%;
            box-shadow: 0px 0px 10px 0px #666666;
            animation: trannnnnnnnnn 2.5s;
        }
        .quiz_question {
            background-color: #999999;
            width: 500px;
            height: 250px;
            position: fixed;
            top: 350px;
            left: 710px;
            border-radius: 25px;
            box-shadow: 0px 0px 10px 0px #666666;
        }
        .headerr {
            background-color: #888888;
            width: 500px;
            height: 50px;
            position: fixed;
            top: 350px;
            left: 710px;
            border-radius: 25px;
            box-shadow: 0px 0px 10px 0px #666666;
            font-family: 'Franklin Gothic Medium';
            font-size: 25px;
            align-items: center;
            justify-content: center;
            text-align: center;
            z-index: 999;
        }
        .quiz_input {
            left: 38.5%;
            top: 47.5%;
            height: 50px;
            width: 425px;
            position: fixed;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 0px #666666;
            border: 2.5px solid #666666;
            background-color: #888888;
            color: #000000; 
            text-align: center;
            font-size: 25px;
            font-family: 'Franklin Gothic Medium';
            animation: trannnnnnnnnn 2.5s;
            transition: transform 0.5s;
        }
        .quiz_input:hover {
            transform: scale(1.1);
        }
        .quiz_feedback {
            width: 475px;
            height: 25px;
            background-color: #888888;
            position: fixed;
            top: 61.5%;
            left: 37.5%;
            border-radius: 15px;
            box-shadow: 0px 0px 10px 0px #666666;
            border: 2.5px solid #666666;
            font-family: 'Franklin Gothic Medium';
            font-size: 25px;
            color: #000000;
            text-align: center;
            animation: trannnnnnnnnn 2.5s;
            transition: transform 0.5s;
        }
        .quiz_feedback:hover {
            transform: scale(1.03);
        }
        .buttonn {
            background-color: #888888;
            width: 450px;
            height: 50px;
            position: fixed;
            top: 55%;
            left: 38.2%;
            border-radius: 15px;
            box-shadow: 0px 0px 10px 0px #666666;
            border: 2.5px solid #666666;
            font-family: 'Franklin Gothic Medium';
            font-size: 25px;
            color: #000000;
            animation: trannnnnnnnnn 2.5s;
            transition: transfrom 0.5s; ;
        }
        .buttonn:hover {
            transform: scale(1.1);
        }
        @keyframes trannnnnnnnnn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
